<?xml version='1.0' encoding='utf-8'?>
<widget id="winjs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bibliodoc</name>
    <description>
        WinJS project
    </description>
    <author email="developer@example.com" href="http://example.com">
        developer
    </author>
    <content src="default.html" />
    <plugin name="org.apache.cordova.dialog"/>
    <access origin="*" />
</widget>
