#contenthost {
    height: 94.27%;
    width: 100%;
}

.fragment {
    /* Définissez une grille avec des lignes pour une bannière et un corps */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 562fr 77fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Définissez une grille avec des colonnes pour le bouton Précédent et le titre de page. */
        -ms-grid-columns: 37px 83px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-navigation-backbutton {
            -ms-grid-column: 2;
            margin-top: 57px;
            position: relative;
            z-index: 1;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

	/** PERSO */
	
.fond{
	background-image:url('/images/back.png');
	background-size: 100% 100%;
	height:100%;
}
.grille{
	display: -ms-grid;
	-ms-grid-columns:1fr 1fr;
	-ms-grid-rows:auto;
}

.grille .logo{ 
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
  
.grille .promo{ 
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	-ms-grid-column-align: end;
	width: auto;
}
  
.promo img{
	width:210px;
	height:120px;
	margin-top:20px;
	margin-right:20px;
	cursor:pointer;
}

.logo img{
	width:232px;
	height:120px;
	margin-top:20px;
	margin-left:20px;
	cursor:pointer;
}

.ariane{
	background-image:url("/images/ariane.png");
	background-size: auto;
	background-repeat: no-repeat;
	margin-top:50px;
	padding-left:20px;
	color: black;
	font-weight:bold;	
	font-size:30pt;
}

/* Breadcrumbs */
.breadcrumb { 
			list-style: none; 
			overflow: hidden; 
			font: 18px Helvetica, Arial, Sans-Serif;
		}
.breadcrumb li { 
	float: left; 
}
.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: rgba(0, 144, 179, 1);/*#f9bc90*/
	position: relative; 
	display: block;
	float: left;
	pointer-events: none;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid rgba(0, 144, 179, 1);/*#f9bc90 Même couleur que le li:a bordure*/
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;/*couleur séparateur de la flèche (blanc par défaut)*/
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumb li:first-child a {
	padding-left: 10px;
}

.breadcrumb li:nth-child(2) a       { opacity:0.85   }
.breadcrumb li:nth-child(2) a:after { border-left-color: rgba(0, 144, 179, 0.85) }
.breadcrumb li:nth-child(3) a       { opacity:0.70    }
.breadcrumb li:nth-child(3) a:after { border-left-color: rgba(0, 144, 179, 0.70) }
.breadcrumb li:nth-child(4) a       { opacity:0.55    }
.breadcrumb li:nth-child(4) a:after { border-left-color: rgba(0, 144, 179, 0.55) }
.breadcrumb li:nth-child(5) a       { opacity:0.40    }
.breadcrumb li:nth-child(5) a:after { border-left-color: rgba(0, 144, 179, 0.40) }
.breadcrumb li:last-child a {
	/*background: #fe7411 !important;/*#4a4a49*/
    opacity: 0.40;
	color: black;
	pointer-events: none;
 	cursor: default;
}
.breadcrumb li:last-child a:after {  border-left-color: rgba(0, 144, 179, 1) !important; }

/*.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }*/

/* FIN BREADCRUMB */