.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.centrer_login {
	position:relative;
	width: 100%;
	height: 100%;
	text-align:center;
}


.corps {
    background-image: url('../../images/connexion.png');
    background-size: 100% 100%;
}

#chargement{
	width:200px;
    height: 200px;
}

.div_chargement{
    width: 100%;
    text-align: center;
}
#connect{
    background-color: rgba(0, 144, 179, 1);
}